<%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main class="site-main">
      <h1 class="page-header"><%= title %></h1>
      <hr>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
