<%- include("partials/head") %>
  <body>
    <div class="site">
      <%- include("partials/header") %>
      <main class="site-main">
        <h1>Some Content</h1>
      </main>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
