*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #161714;
  --secondary-colour: #121210;
  --accent-colour: #4287f5;
  --link-hover-colour: #166bf2;
  --text-colour: white;
  --post-text-colour: #bababa;
  --font-family: "Open Sans", sans-serif;
  
  --header-height: 60px;
  --footer-height: 50px;
}

/* base */
body {
  font-family: var(--font-family);
  background-color: var(--primary-colour);
  overflow-x: hidden;
  color: var(--text-colour);
}

main {
  padding: 8rem 1rem;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--text-colour);
  transition: 0.3s color ease;
}

a:hover {
  color: var(--accent-colour);
}

/* layout */
body {
  min-height: 100vh;
  max-width: 2200px;
	display: grid;
	grid-template-columns: 1fr minmax(0, 1100px) 1fr;
  grid-template-rows: auto minmax(0, 1fr) auto;
	grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
}

.site-footer {
  grid-area: footer;
  align-self: end;
}

/* components */
.header-break {
  margin: 0 auto;
  width: clamp(300px, 90%, 800px);
}

.secondary-break {
  margin: auto;
  width: clamp(300px, 90%, 600px);
}

.page-header {
  font-size: 1.75rem;
}

/* Posts */
.posts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

.post-article {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: var(--secondary-colour);
  border-radius: 8px;
}

.post-article .post-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-article .post-content p {
  color: var(--post-text-colour);
}

.post-article .post-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.post-article .post-meta a {
  color: var(--link-hover-colour);
}

@media screen and (min-width: 50em) {
  .post-article .post-meta a {
    color: var(--text-colour);
  }

  .post-article .post-meta a:hover {
    color: var(--link-hover-colour);
  }
}

/* Form */
form {
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

label {
  font-size: 1.05rem;
}

input,
textarea {
  padding: 0.3rem 0.6rem;
  font-size: 1.02rem;
  outline: none;
  border-radius: 6px;
}

input:focus,
textarea:focus {
  outline: var(--accent-colour) 1px solid;
}

.form-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
}

.form-button-container button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--accent-colour);
  color: var(--text-colour);
  font-size: 0.9em;
  font-weight: 550;
  outline: none;
  border: none;
  border-radius: 6px;
  transition: 0.3s background-color ease;
}

.form-button-container button:hover {
  background-color: var(--link-hover-colour);
}

.form-errors-container {
  display: flex;
  max-width: 550px;
  margin: 2rem auto 0;
  padding: 0 2rem;
}

.form-errors {
  list-style-type: disc;
}

.error {
  color: red;
}

.characters-remaining {
  font-size: 0.9rem;
}

/* Header */
.site-header {
  background-color: var(--secondary-colour);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px black;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  max-width: 1100px;
  height: 100%;
  padding: 0.5rem 1rem;
}

.logo-container {
  font-size: 1.5rem;
  font-weight: 600;
}

.logo-container a:hover {
  color: inherit;
}

.logo-container em {
  color: var(--accent-colour);
  font-size: 1.2em;
}

/* navigation */
.site-navigation {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  background-color: var(--secondary-colour);
  transition: 0.3s opacity ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
}

.site-navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.site-navigation a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.site-navigation.show {
  opacity: 100;
  visibility: visible;
}

@media screen and (min-width: 50em) {
  .site-navigation {
    opacity: 100;
    position: static;
    box-shadow: none;
    visibility: visible;
  }

  .site-navigation ul {
    flex-direction: row;
    gap: 4rem;
    padding: 0;
  }

  .site-navigation a {
    display: inline;
    padding: 0.5rem 0;
  }
}

/* Hamburger Menu */
.hamburger-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 50em) {
  .hamburger-menu-container {
    display: none;
  }
}

.hamburger-menu-container .menu {
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 3;
}

.hamburger-menu-container .menu svg {
  width: 40px;
  height: 40px;
}

.line {
  fill: none;
  stroke: var(--text-colour);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* main */
.page-header {
  text-align: center;
  padding: 1rem;
}

.current-user {
  text-align: right;
}

.current-user a {
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-colour);
  border-radius: 6px;
  font-size: 1.05rem;
  font-weight: 500;

  transition: 0.3s background-color ease;
}

.current-user a:hover {
  color: inherit;
  background-color: var(--accent-colour);
}

/* Sign up / login page */
#form-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#form-page .site-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem; 
}

#form-page .logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.secondary-choice {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.secondary-choice a {
  color: var(--accent-colour);
}

.secondary-choice a:hover {
  color: var(--link-hover-colour);
}

/* Footer */
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-colour);
  height: var(--footer-height);
  width: 100%;
}